<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base th:href="@{${#servletContext.getAttribute('httpServerHost')}}">
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <link rel="bookmark" href="/images/favicon.ico"/>
    <title>NullPointer</title>
    <link rel="stylesheet" href="/style/bootstrap.min.css">
    <link rel="stylesheet" href="/style/fileinput.min.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="/js/fileinput.min.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin" id="header">
    <div class="layui-header">
        <div class="layui-logo">NullPointer BLOG</div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item">
                <a>控制台</a>
            </li>
            <li class="layui-nav-item">
                <a>商品管理</a>
            </li>
            <li class="layui-nav-item">
                <a>用户</a>
            </li>
            <li class="layui-nav-item">
                <a>其它系统</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a>邮件管理</a>
                    </dd>
                    <dd>
                        <a>消息管理</a>
                    </dd>
                    <dd>
                        <a>授权管理</a>
                    </dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a>
                    <img src="/images/favicon.ico" class="layui-nav-img">
                    [[${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}]]
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a>基本资料</a>
                    </dd>
                    <dd>
                        <a>安全设置</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="/">退出</a>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item layui-nav-itemed">
                    <a>主页</a>
                    <dl class="layui-nav-child">
                        <dd class="layui-this">
                            <a target="iframe" href="/admin/upload">
                                Upload
                            </a>
                        </dd>
                        <dd>
                            <a>Dashboard</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body" id="body" style="overflow: hidden;bottom: 0">
        <iframe id="iframe" name="iframe"
                scrolling="no" frameborder="0" width="100%" height="100%" onload="setIframeHeight(this)"
        ></iframe>
    </div>

</div>
<script src="/layui/layui.js"></script>
<script>


    var iframeHeight = document.getElementById('body').clientHeight;

    $(function(){
        $("#iframe").attr("src","/admin/upload");
    });

    function setIframeHeight(iframe) {
        if (iframe) {
            var iframeWin = iframe.contentWindow || iframe.contentDocument.parentWindow;
            if (iframeWin.document.body) {
                iframe.height = iframeWin.document.documentElement.scrollHeight || iframeWin.document.body.scrollHeight;
            }
        }
    }

    layui.use('element', function(){
        var element = layui.element;
    });
</script>
</body>
</html>