<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base th:href="@{${#servletContext.getAttribute('httpServerHost')}}">
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <link rel="bookmark" href="/images/favicon.ico"/>
    <title>Title</title>
    <link rel="stylesheet" href="/editor/lib/codemirror/theme/sspai.css">
    <link rel="stylesheet" href="/editor/css/editormd.css">
    <link rel="stylesheet" href="/style/bootstrap.min.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script type="text/javascript" src="/editor/examples/js/jquery.min.js"></script>
    <script type="text/javascript" src="/editor/editormd.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/template-web.js"></script>
    <script src="/layui/layui.js"></script>
    <style>
        .markdown-body img {
            max-width:600px;
            height:auto;
        }

        .img {
            max-width: 200px;
            margin: 5px;
            border:1px solid #F0F0E8;
            background-color:#FFF;
            padding:6px;
        }

        .img:hover {
            border:2px solid #a7abb1;
            text-decoration: none;
        }

        .imgDiv {
            display: inline-block;
            position: relative;
        }

        .delete {
            position: absolute;
            top: -0px;
            right: -0px;
            width: 20px;
            height: 20px;
            opacity: 0.0;
        }

        .show {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 20px;
            height: 20px;
            opacity: 1.0;
        }

        .choose {
            position: absolute;
            bottom: -5px;
            right: 10px;
            width: 20px;
            height: 20px;
            opacity: 1.0;
        }

    </style>
</head>
<body>
<div id="my-editormd" >
    <textarea id="my-editormd-markdown-doc" name="my-editormd-markdown-doc" style="display:none;"></textarea>
    <textarea id="my-editormd-html-code" name="my-editormd-html-code" style="display:none;"></textarea>
</div>
</body>
<script type="text/javascript">
    var myEditor;

    var ilay = layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider','jquery','flow'], function() {
        var laydate = layui.laydate //日期
            , laypage = layui.laypage //分页
            , layer = layui.layer //弹层
            , table = layui.table //表格
            , upload = layui.upload //上传
            , element = layui.element //元素操作
            , $ = layui.$
            , flow = layui.flow;

    });


    $(function() {
        myEditor = editormd("my-editormd", {
            width   : "100%",
            height  : 800,
            syncScrolling : "single",
            path    : "/editor/lib/",
            saveHTMLToTextarea : true,

            emoji: true,//emoji表情，默认关闭
            taskList: true,
            tocm: true, // Using [TOCM]
            tex: true,// 开启科学公式TeX语言支持，默认关闭

            flowChart: true,//开启流程图支持，默认关闭
            sequenceDiagram: true,//开启时序/序列图支持，默认关闭,

            dialogLockScreen : false,//设置弹出层对话框不锁屏，全局通用，默认为true
            dialogShowMask : false,//设置弹出层对话框显示透明遮罩层，全局通用，默认为true
            dialogDraggable : false,//设置弹出层对话框不可拖动，全局通用，默认为true
            dialogMaskOpacity : 0.4, //设置透明遮罩层的透明度，全局通用，默认值为0.1
            dialogMaskBgColor : "#000",//设置透明遮罩层的背景颜色，全局通用，默认为#fff

            codeFold: true,

            imageUpload : true,//开启本地图片上传
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "/admin/upload/md/img",//图片上传地址
            toolbarIcons: [
                "undo", "redo", "|",
                "bold", "del", "italic", "quote", "ucwords", "uppercase", "lowercase", "|",
                "h1", "h2", "h3", "h4", "h5", "h6", "|",
                "list-ul", "list-ol", "hr", "|",
                "link", "reference-link", "image", "showImages" ,"code", "preformatted-text", "code-block", "table", "datetime", "emoji", "html-entities", "pagebreak", "|",
                "goto-line", "watch", "preview", "fullscreen", "clear", "search", "|",
                "help", "info"
            ],
            toolbarIconsClass: {
                showImages: "fa-folder-open"
            },
            toolbarHandlers: {
                showImages : function(cm, icon, cursor, selection) {
                    doShow();
                }
            },

            /*
             上传的后台只需要返回一个 JSON 数据，结构如下：
             {
                success : 0 | 1,           // 0 表示上传失败，1 表示上传成功
                message : "提示的信息，上传成功或上传失败及错误信息等。",
                url     : "图片地址"        // 上传成功时才返回
             }
             */

            /**设置主题颜色*/
            /*editorTheme: 'sspai',
            theme: 'sspai',
            previewTheme: 'sspai'*/
        });

    });

    function doShow() {
        var images = {};
        $.get('/admin/upload/images', function(data){
            images = data;
            var arr = [];
            var curr;
            for (var i = 0; i < images.length; i++){
                if ( i%16 === 0 ) {
                    curr = [];
                    arr.push(curr);
                }
                curr.push(
                    `<div class="imgDiv">
                        <img src="/data/images/` + images[i] + `" class="img">
                        <a href="javascript:void(0);" class="deleteHref">
                            <img src="/images/delete.png" class="deleteImg delete" />
                        </a>
                        <a href="javascript:void(0);">
                            <img src="/images/finish.png" class="choose" />
                        </a>
                    </div>`
                );
            }
            ilay.layer.open({
                type: 1
                ,title: '图片浏览'
                ,area: ['870px','720px']
                ,btn: ['保存', '关闭']
                ,btnAlign: 'r'
                ,shade: 0.5
                ,yes: function(index, layero){

                }
                ,success: function(layero, index){
                    ilay.flow.load({
                        elem: '#LAY_demo3'
                        ,isAuto: true
                        ,scrollElem: '#LAY_demo3'
                        ,done: function(pageNum, next){
                            next(arr[pageNum-1].join(""), pageNum < arr.length);
                            var $deleteHref = $(".deleteHref");
                            $deleteHref.mouseenter(function () {
                                $(this).find(".deleteImg").attr("class","deleteImg show");

                            });
                            $deleteHref.mouseleave(function () {
                                $(this).find(".deleteImg").attr("class","deleteImg delete");
                            });
                        }
                    });
                }
                ,content: `<div class="site-demo-flow box" id="LAY_demo3"></div>`
            });
        });
    }

</script>
</html>