<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base th:href="@{${#servletContext.getAttribute('httpServerHost')}}">
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <link rel="bookmark" href="/images/favicon.ico"/>
    <title>Title</title>
    <link rel="stylesheet" href="/style/bootstrap.min.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/template-web.js"></script>
    <script type="text/javascript" src="/js/jquery.form.min.js"></script>
    <script type="text/javascript" src="/js/moment.min.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>
    <table id="demo" class="layui-hide" lay-filter="test"></table>
</body>
<script src="/layui/layui.js"></script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="upload">上传</a>
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="download">下载</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="show">查看</a>
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="history">查看</a>
</script>
<script type="text/html" id="toolbarDemo">
    <form class="form-inline">
        <div class="row">
            <div class="col-sm-3 form-group">
                <label>标题：</label>
                <input type="text" class="form-control" id="title">
            </div>
            <div class="col-sm-3 form-group" >
                <label>副标题：</label>
                <input type="text" class="form-control" id="info">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 form-group" >
                <label>日期：</label>
                <input id="begin" type="text" class="form-control" readonly/>
            </div>
            <div class="col-sm-3 form-group" >
                <label>至&emsp;&emsp;&emsp;</label>
                <input id="end" type="text" class="form-control" readonly/>
            </div>
            <div class="col-sm-3 form-group" >
                <label>是否公开：</label>
                <select class="form-control" id="publicity" style="width: 100px" lay-ignore>
                    <option value="">全部</option>
                    <option value="true">公开</option>
                    <option value="false">私密</option>
                </select>
            </div>
            <div class="col-sm-3 form-group" style="margin-left: -80px">
                <button type="button" class="btn btn-default" id="search" >查询</button>
            </div>
        </div>
    </form>
</script>
<script type="text/html" id="pageDetail">
    <div class="container-fluid" style="margin-top: 10px">
        <div class="col-sm-12">
            <form id="form" class="form-horizontal" action="/admin/doUpload" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="col-sm-2 control-label">标题：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control needUpload" name="title" value="<%=title%>">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">副标题：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control needUpload" name="info" value="<%=info%>" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">文件名：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control needUpload" name="filename" value="<%=filename%>" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">创建时间：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control needUpload" name="createTime" id="createTime"
                               readonly
                               value="<%=createTime%>"
                        >
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">是否公开：</label>
                    <div class="col-sm-3">
                        <select class="form-control needUpload" name="publicity" lay-ignore>
                            <% if (publicity) { %>
                            <option selected value="true">公开</option>
                            <option value="false">私密</option>
                            <% } else if (!publicity) { %>
                            <option value="true">公开</option>
                            <option value="false" selected>私密</option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <% if (!onFile) { %>
                <div class="form-group">
                    <div class="col-sm-5">
                        <button type="button" class="layui-btn" id="fileBtn">
                            <i class="layui-icon">&#xe67c;</i>上传文件
                        </button>
                    </div>
                </div>
                <% } %>
            </form>
        </div>
    </div>
</script>
<script type="text/html" id="_add">
    <div id="addButton" class="layui-inline" title="添加">
        <i class="layui-icon layui-icon-add-circle"></i>
    </div>
</script>
<script>

    var vo = {};

    layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider','jquery'], function(){
        var laydate = layui.laydate //日期
            ,laypage = layui.laypage //分页
            ,layer = layui.layer //弹层
            ,table = layui.table //表格
            ,upload = layui.upload //上传
            ,element = layui.element //元素操作
            ,$ = layui.$;

        table.render({
            id: 'table'
            ,elem: '#demo'
            ,url: '/page/list'
            ,type: 'GET'
            ,page: true
            ,limit: 20
            ,where: vo
            ,request: {
                limitName: 'size'
            }
            ,height: parent.iframeHeight - 10
            ,title: '用户表'
            ,toolbar: '#toolbarDemo'
            ,parseData: function(res){
                vo.title =  res.filters.title;
                vo.info =  res.filters.info;
                vo.begin =  res.filters.begin;
                vo.end =  res.filters.end;
                vo.publicity = (res.filters.publicity == null) ? '' : (res.filters.publicity) ? 'true' : 'false';
                return {
                    "code": 0, //解析接口状态
                    "msg": "", //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.content  //解析数据列表
                }
            }
            ,cols: [
                [
                    {field: 'id', title: 'ID', hide: true}
                    ,{title: '序号' ,width: 60 , align: 'center', templet: function(row){
                        return '<div>'+ ( row.LAY_INDEX ) +'</div>';
                    }}
                    ,{field: 'title', title: '标题'}
                    ,{field: 'info', title: '副标题'}
                    ,{field: 'filename', title: '文件名'}
                    ,{field: 'publicity', title: '是否公开',width: 120 ,templet: function (row) {
                        return `<span id="publicity_` + row.id + `">` + ( (row.publicity) ? `公开` : `私密` ) + `</span>`;
                    }}
                    ,{field: 'createTime', title: '创建日期'}
                    ,{fixed: 'right' ,align:'center', toolbar: '#barDemo'}
                ]
            ]
            ,done: function (res) {
                $(".layui-table-tool-self").each(function () {
                   $(this).prepend($("#_add").html());
                });

                $("#begin").val(vo.begin == null ? "" : vo.begin );
                $("#end").val(vo.end == null ? "" : vo.end );
                $("#title").val(vo.title == null ? "" : vo.title );
                $("#info").val(vo.info == null ? "" : vo.info );
                $("#publicity").val(vo.publicity);

                $(".layui-datetime").each(function(){
                    laydate.render({
                        elem: '#' + this.id
                        ,type: 'datetime'
                        ,value: $(this).val()
                        ,calendar: true
                        ,btns: ['now', 'confirm']
                    });
                });
                var begin = laydate.render({
                    elem: '#begin'
                    ,type: 'date'
                    ,format: 'yyyy-MM-dd'
                    ,value: $("#begin").val()
                    ,calendar: true
                    ,btns: ['now', 'confirm']
                    ,max: $("#end").val()
                    ,done: function(value, date){
                        vo.begin = value;
                        end.config.min = {
                            year: date.year,
                            month: date.month - 1,
                            date: date.date + 1
                        }
                    }
                });
                var end = laydate.render({
                    elem: '#end'
                    ,type: 'date'
                    ,format: 'yyyy-MM-dd'
                    ,value: $("#end").val()
                    ,calendar: true
                    ,btns: ['now', 'confirm']
                    ,min: $("#begin").val()
                    ,done: function(value, date){
                        vo.end = value;
                        begin.config.max = {
                            year: date.year,
                            month: date.month - 1,
                            date: date.date - 1
                        }

                    }
                });
            }
        });

        //监听行工具事件
        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                ,layEvent = obj.event;
            if(layEvent === 'upload'){
                data.noFile = false;
            } else if(layEvent === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                });
            } else if(layEvent === 'edit'){
                data.noFile = true;
                layer.open({
                    type: 1
                    ,title: '编辑'
                    ,area: ['700px']
                    ,btn: ['保存', '关闭']
                    ,btnAlign: 'r'
                    ,shade: 0.5
                    ,yes: function(index, layero){
                        var json = {};
                        json.id = obj.data.id;
                        $(".needUpload").each(function () {
                            json[this.name] = this.value;
                        });
                        json.publicity = (json.publicity === 'true');

                        layer.close(index);
                        index = layer.load(1);
                        $.ajax({
                            url: "/page/update"
                            ,type: "POST"
                            ,data: JSON.stringify(json)
                            ,contentType: 'application/json'
                            ,success: function (data) {
                                obj.update(json);
                                $("#publicity_" + json.id).html((json.publicity) ? '公开' : '私密');
                                layer.close(index);

                                layer.msg('修改成功', {
                                    icon: 1,
                                    time: 1000 //2秒关闭（如果不配置，默认是3秒）
                                });
                            }
                        });
                    }
                    ,success: function(layero, index){
                        laydate.render({
                            elem: '#createTime'
                            ,type: 'datetime'
                            ,value: data.createTime
                            ,calendar: true
                            ,btns: ['now', 'confirm']
                        });
                    }
                    ,content: template('pageDetail',data)
                });
            }
        });

        function reload() {
            table.reload('table',{
                url: '/page/list'
                ,where: vo
            });
        }

        $(document).on('click','#search',function(){
            reload();
        });

        $(document).on('change','#title',function(){
            vo.title = this.value;
        });

        $(document).on('change','#info',function(){
            vo.info = this.value;
        });

        $(document).on('change','#publicity',function(){
            vo.publicity = this.value;
        });

        $(document).on('click','#addButton', function(){
            var data = {};
            data.noFile = false;
            data.publicity = true;
            data.createTime = moment().format("YYYY-MM-DD HH:mm:ss");
            layer.open({
                type: 1
                ,title: '编辑'
                ,area: ['700px']
                ,btn: ['添加', '关闭']
                ,btnAlign: 'r'
                ,shade: 0.5
                ,yes: function(index, layero){
                    layer.close(index);
                    index = layer.load(1);

                    var dataF = new FormData();
                    $(".needUpload").each(function () {
                        dataF.append(this.name,this.value);
                    });

                    dataF.append('file',document.getElementsByName('file').item(0).files[0]);
                    $.ajax({
                        url: "/admin/doUpload"
                        ,type: "POST"
                        ,data: dataF
                        ,contentType: false
                        ,processData: false
                        ,success: function (data) {
                            table.reload('table',{
                                url: '/page/list'
                                ,where: vo
                            });
                            layer.close(index);
                        }
                    });
                }
                ,success: function(layero, index){
                    laydate.render({
                        elem: '#createTime'
                        ,type: 'datetime'
                        ,value: data.createTime
                        ,calendar: true
                        ,btns: ['now', 'confirm']
                    });
                    upload.render({
                        elem: '#fileBtn'
                        ,auto: false
                        ,exts: 'zip|rar|html'
                        ,field: 'file'
                        ,choose: function(obj){
                            obj.preview(function(index, file, result){
                                var extensionName = getFileExtension(file.name);
                                if (extensionName === 'html')
                                    obj.resetFile(index, file, 'root.html');
                                else if (extensionName === 'zip')
                                    obj.resetFile(index, file, 'root.zip');
                                else if (extensionName === 'rar')
                                    obj.resetFile(index, file, 'root.rar');
                            });
                        }
                    });
                }
                ,content: template('pageDetail',data)
            });
        });

        function getFileExtension(filename) {
            return filename.slice((filename.lastIndexOf(".") - 1 >>> 0) + 2);
        }

    });

</script>
</html>