<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base th:href="@{${#servletContext.getAttribute('httpServerHost')}}">

    <!--Favicon Icon-->
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <link rel="bookmark" href="/images/favicon.ico"/>

    <title>NullPointer</title>

    <!-- Third-Party CSS -->
    <link rel="stylesheet" href="/style/bootstrap.min.css">
    <link rel="stylesheet" href="/style/octicons.css">


    <!-- My CSS -->
    <link rel="stylesheet" href="/style/common.css">

    <link rel="stylesheet" href="/style/index.css">

    <link rel="stylesheet" href="/style/hover-min.css">
    <link rel="stylesheet" href="/style/syntax.css">

    <link rel="stylesheet" href="/style/sidebar-popular-repo.css">

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/template-web.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>

<header class="site-header">
    <div class="container">
        <a id="site-header-brand" href="/" title="NullPointer">
            <img style="vertical-align:middle;" class="circular" src="/images/favicon.ico">
            <span style="vertical-align:middle;">NullPointer</span>
        </a>
        <nav class="site-header-nav" role="navigation"
             th:if="${session.SPRING_SECURITY_CONTEXT != null && session.SPRING_SECURITY_CONTEXT.authentication.principal.username != null}">
            <a href="/admin"
               class="site-header-nav-item hvr-underline-from-center"
               target=""
               th:title="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}"
               th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}"
            >
            </a>
        </nav>
        <nav class="site-header-nav" role="navigation">
            <a href="/"
               class=" site-header-nav-item hvr-underline-from-center"
               target=""
               title="Home"
            >
                Home
            </a>
        </nav>
    </div>
</header>


<div class="content">
    <section class="jumbotron">
        <div class="container">
            <h2 style="font-size: 50px">
                最有价值的想法，恰恰来源于对中介方式的拒绝。
            </h2>
            <div id="jumbotron-meta-info">

            </div>
        </div>
    </section>
    <section class="content container">

        <div class="row">

            <!-- Post List -->
            <div class="col-md-8">

                <ol class="post-list" id="pageList">

                </ol>

                <div class="pagination text-align">
                    <div class="btn-group">

                    </div>
                </div>


            </div>


        </div>

    </section>


</div>


<footer class="container">
    <div class="site-footer">

    </div>
    <!-- Third-Party JS -->
    <script type="text/javascript" src="js/geopattern.min.js"></script>
    <!-- My JS -->
    <script type="text/javascript" src="js/script.js"></script>
</footer>
<script type="text/html" id="page_content">
    <li class="post-list-item">
        <h2 class="post-list-title" >
            <a class="hvr-underline-from-center index_a" href="/page/<%=page.id%>" >
                <%=page.title%>
            </a>
        </h2>
        <p class="post-list-description">
            <%=page.info%>
        </p>
        <p class="post-list-meta">
            <span class="octicon octicon-calendar"></span>
            <span>
                <%=page.createTime%>
            </span>
        </p>
    </li>
</script>
<script src="/layui/layui.js"></script>
<script>
    
    layui.use('flow', function() {
        var flow = layui.flow;
        flow.load({
            elem: '#pageList'
            ,isAuto: false
            ,done: function(pageNum, next){
                var pages = [];
                $.get('/page/list?page='+pageNum, function(data){
                    layui.each(data.content, function(index, item){
                        pages.push(template('page_content',{ page: item }));
                    });
                    next(pages.join(''), pageNum < data.totalPages);
                });
            }
        });
    });

</script>
</body>
</html>
